@charset "utf-8";

@mixin Inter($weight, $size) {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: $weight;
    font-size: $size;
    color: #202020;
}

@mixin Noto($weight, $size) {
    font-family: "Noto Sans JP", serif;
    font-optical-sizing: auto;
    font-weight: $weight;
    font-size: $size;
    letter-spacing: calc(($size / 10));
    text-align: justify;
}

$breakpoints: (
    "medium": 768px,
    "large": 1024px,
);

@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        $breakpoint-value: map-get($breakpoints, $breakpoint);

        @media (min-width: $breakpoint-value) {
            @content;
        }
    }
}

;

body {
    background-color: #FEFBF6;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 32px 20px;
    align-items: center;
    margin: 0 auto 40px;

    @include respond-to("medium") {
        padding: 32px 80px;    
    }

    .flex-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu-icon {
            position: relative;
            z-index: 999;
            width: 30px;
        }
    }

    &__logo {
        @include Inter(600, 16px);

        @include respond-to("large") {
            font-size: 24px;
        }
    }

    &__icon {
        position: fixed;
        top: 20px;
        right: 20px;
        z-index: 999;


        @include respond-to("large") {
            display: none;
        }
    }

    &__menu {
        @include Inter(500, 14px);
        text-transform: uppercase;

        @include respond-to("large") {
            display: none;
        }

        img {
            width: 30px;
        }
    }

    &__nav {
        width: 100%;
        height: 100vh;
        background-color: #FEFBF6;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 990;
        display: flex;
        flex-direction: column;
        gap: 32px;
        padding: 100px 20px 0;
        transform: translateY(-100%);
        transition: transform 0.5s ease-in-out;

        @include respond-to("large") {
            width: auto;
            height: auto;
            background-color: transparent;
            position: static;
            display: block;
            transform: translateY(0);
            padding: 0;
        }
    }

    &__menu--sp {
        display: flex;
        flex-direction: column;
        gap: 40px;
    
        @include respond-to("large") {
            display: none;
        }

        .menu-item {
            opacity: 0;
            transition: opacity ease-in-out;
        }

        .menu-item--open {
            opacity: 1;
            transition-duration: .5s;
            transition-delay: .5s;
        }

        .menu-item--close {
            opacity: 0;
            transition-duration: .5s;
        }

        .menu-link {
            @include Inter(500, 24px);
            text-transform: uppercase;
        }
    }

    .show {
        transform : translateY(0%);
    }

    &__menu--pc {
        display: none;

        @include respond-to("large") {
            display: flex;
            gap: 32px;

            .menu-link {
                @include Inter(500, 18px);
                text-transform: uppercase;
                position: relative;

                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -10px;
                    width: 105%;
                    height: 1px;
                    background-color: #202020;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform 0.3s ease-in-out;
                }

                &:hover:after {
                    transform: scaleX(1);
                    transition: transform 0.3s ease-in-out;
                }
            }
        }
    }

    .fade-in {
        animation : fadein 0.8s ease-in-out;

        @keyframes fadein {
            0% {
                opacity: 0;
                transform: translateY(40px);
            }
            100% {
                opacity: 1;
                transform: translateY(0px);
            }
        }
    }

    .fade-out {
        animation : fadeout .8s ease-in-out;

        @keyframes fadeout {
            0% {
                opacity: 1;
                transform: translateY(0px);
            }
            100% {
                opacity: 0;
                transform: translateY(40px);
            }
        }
    }
}

.hero {
    padding: 0 20px;
    margin-bottom: 128px;

    @include respond-to("medium") {
        padding: 0 80px;
    }

    @include respond-to("large") {
        max-width: 1280px;
        margin: 160px auto 240px auto;
    }

    &__content {
        
        @include respond-to("large") {
            max-width: 1140px;
            margin: 0 auto;
        }
    }

    &__title {
        @include Inter(400, 24px);
        line-height: 150%;
        width: 85%;
        text-transform: uppercase;
        margin-bottom: 64px;

        @include respond-to("large") {
            font-size: 48px;
            width: 52%;
        }

        &--bold {
            font-weight: 500;
        }

        @include respond-to("large") {
            font-size: 32px;
        }
    }


    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #202020;
        border-radius: 20px;
        width: 180px;
        height: 50px;
        scale: 1;
        transition: scale 0.3s ease-in-out;

        @include respond-to("large") {
            width: 220px;
            height: 60px;
        }

        &:hover {
            scale: 1.1;
        }
    }

    &__link {
        display: block;
        width: 100%;
        height: 100%;   
        @include Inter(300, 14px);
        color: #FEFBF6;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;

        @include respond-to("large") {
            font-size: 18px;
        }

        img {
            width: auto;
        }
    }
}

.section {
    padding: 0 20px;

    @include respond-to("large") {
        padding: 0 80px;
    }
}

.service {
    margin-bottom: 128px;

    @include respond-to("large") {
        margin-bottom: 196px;
    }

    &__wrapper {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }

    .flex-wrapper-pc {

        &:first-child {
            margin-bottom: 48px;

            @include respond-to("large") {
                margin-bottom: 160px;
            }
        }


        @include respond-to("large") {
            max-width: 1280px;
            display: grid;
            grid-template-columns: (360px 1fr);
        }
    }

    &__title {
        @include Inter(500, 32px);
        margin-bottom: 96px;
        text-transform: uppercase;

        @include respond-to("large") {
            margin-bottom: 160px;
            font-size: 60px;
        }
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include respond-to("large") {
            justify-content: space-between;
        }

        &__title {
            @include Inter(400, 24px);
            text-wrap: nowrap;
            margin-bottom: 32px;

            @include respond-to("large") {
                font-size: 32px;
                min-width: 12ch;
            }
        }


        &__text--jp {
            @include Noto(400, 14px);
            color: #202020;
            line-height: 200%;

            @include respond-to("large") {
                @include Noto(400, 16px);
            }
        }

        &__text--en {
            @include Inter(400, 14px);
            line-height: 200%;

            @include respond-to("large") {
                @include Inter(400, 16px);
            }
        }
    }
}

.about {
    width: 100%;
    margin-bottom: 128px;

    @include respond-to("large") {
        margin-bottom: 196px;
    }

    &__wrapper {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }

    &__title {
        @include Inter(500, 32px);
        color: #202020;
        margin-bottom: 96px;
        text-transform: uppercase;

        @include respond-to("large") {
           font-size: 60px;
           margin-bottom: 128px;
        }
    }

    &__text {
        @include Inter(400, 16px);
        color: #202020;
        grid-column-start: 1;
        grid-column-end: 4;
        line-height: 180%;
        margin-bottom: 32px;

        &:last-of-type {
            margin-bottom: 0;
        }

        @include respond-to("medium") {
            grid-column-start: 1;
            grid-column-end: 5;
        }

    }

    &__link {
        @include Inter(500, 16px);
        color: #202020;
        gap: 16px;
        grid-column-start: 1;
        grid-column-end: 4;
        align-self: end;
        margin-top: 64px;
        justify-content: flex-start;

        @include respond-to("medium") {
            grid-column-start: 10;
            grid-column-end: 13;
            text-align: end;
            margin-top: 0;
            justify-content: flex-end;
        }

        @include respond-to("large") {
            transform: translateX(0);
            transition: transform 0.4s ease-in-out;
            cursor: pointer;

            &:hover {
                transform: translateX(20px);
            }
        }

    }



    &__bio {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        @include respond-to("medium") {
            grid-template-columns: repeat(12, 1fr);
        }
    }
}

.qna {
    margin-bottom: 128px;

    @include respond-to("large") {
        margin-bottom: 196px;
    }

    &__wrapper {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
    }

    .flex-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 32px;
    }

    &__title {
        @include Inter(500, 32px);
        text-transform: uppercase;

        @include respond-to("large") {
            font-size: 60px;
        }
    }

    .language-switch {
        display: flex;
        cursor: pointer;
        align-self: end;

        .lang-option {
            cursor: pointer;
            @include Inter(400, 18px);
            text-transform: capitalize;
        }

        @include respond-to("large") {
            opacity: 1;
            transition: opacity 0.5s ease-in-out;
            
            &:hover {
                opacity: 0.3;
            }
        }
    }
    
    .accordion {
        display: flex;
        flex-direction: column;

        @include respond-to("large") {
            max-width: 1220px;
            margin: 0 auto;
            padding: 0;
        }
    }

    .divider {
        border-top: 1px solid #202020;
    }

    .question-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        padding: 24px 0;
        gap: 16px;

        @include respond-to("large") {
            padding: 24px 40px;
        }
    }

    .toggle-button {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 30px;
        }

        .hide {
            display: none;
        }

        &__item {
            width: 30px;
            height: 1px;
            background-color: #202020;
            display: none;
            transition: all 0.5s ease-in-out;
        }

        .show {
            display: block;
        }

        // .vertical {
        //     position: absolute;
        //     top: 0%;
        //     left: 50%;
        //     transform: rotate(90deg);
        // }

        // .horizon {
        //     position: absolute;
        //     top: 50%;
        //     left: 50%;
        //     transform: translate(-50%, -50%);
        // }

    }

    .question {
        @include Noto(400, 14px);
        line-height: 180%;
        width: 100%;

        @include respond-to("large") {
            @include Noto(300, 16px);
        }
    }

    .question--en {
        @include Inter(400, 16px);
        letter-spacing: 0;
        text-align: start;

    }

    .scale {
        font-size: 12px;
        transition: all 0.5s ease-in-out;
    }

    .answer {
        height: 0;
        overflow: hidden;
        opacity: 0;
        @include Noto(400, 14px);
        line-height: 180%;
        margin-bottom: 0px;
        text-align: justify;
        transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out, margin-bottom 0.5s ease-in-out;

        @include respond-to("large") {
            font-size: 16px;
            padding: 0 40px;
        }
    }

    .answer--en {
        @include Inter(400, 16px);
        letter-spacing: 0;
        text-align: start;
    }

    .showText {
        height: auto;
        opacity: 1;
        margin-bottom: 24px;
        // animation: show .5s ease-in-out forwards;

        // @keyframes show {
        //     0% {
        //         opacity: 0;
        //         transform: translateY(40px);
        //     }
        //     100% {
        //         opacity: 1;
        //         transform: translateY(0px);
        //     }
            
        // }
    }
}

.footer {
    background-color: #202020;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-bottom: 40px;
    overflow: hidden;

    @include respond-to("large") {
        height: 100vh;
        padding-bottom: 0;
    }

    .footer-menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 64px 20px;
        justify-content: end;

        @include respond-to("medium") {
            padding: 64px 80px;
        }

        @include respond-to("large") {
            max-width: 1280px;
            margin: 0 auto;
            gap: 32px;
        }

        &__link {
            @include Inter(300, 18px);
            color: #ffffff;
            text-transform: capitalize;
            display: flex;
            align-items: center;
            justify-content: end;

            @include respond-to("large") {
                font-size: 24px;
            }
        }
    }

    &__text {
        font-family: "Bebas Neue", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 19vw;
        color: #ececec;
        text-align: center;
        letter-spacing: 3vw;
        line-height: normal;
        transform: translateY(100%);
    }

    .show {
        animation: show 1s ease-in-out forwards;

        @keyframes show {
            0% {
                transform: translateY(100%);
            }
            100% {
                transform: translateY(0%);
            }
        }
    }

    .divider {
        width: 100%;
        height: 1px;
        background-color: #ffffff;
        margin-bottom: 48px;
    }

}