@charset "utf-8";

@mixin Inter($weight, $size) {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: $weight;
    font-size: $size;
    color: #202020;
}

@mixin Noto($weight, $size) {
    font-family: "Noto Sans JP", serif;
    font-optical-sizing: auto;
    font-weight: $weight;
    font-size: $size;
    letter-spacing: calc(($size / 10));
    text-align: justify;
}

$breakpoints: (
    "medium": 768px,
    "large": 960px,
);

@mixin respond-to($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        $breakpoint-value: map-get($breakpoints, $breakpoint);

        @media (min-width: $breakpoint-value) {
            @content;
        }
    }
}

;

body {
    background-color: #FEFBF6;
}

// .divider {

//     img {
//         width: 100%;
//         height: 1px;
//     }
// }

.sidebar-index {
    display: none;

    @include respond-to("large") {
        display: block;
        position: fixed;
        top: 20%;
        right: 0px;
        transform: translateY(-50%);
        z-index: 1;

        &__list {
            display: flex;
            flex-direction: column;
            gap: 32px;
            padding-right: 30px;
        }

        &__item {
            @include Inter(400, 28px);
            color: #9e9e9e;
            text-transform: uppercase;
            transition: all 0.5s ease-in-out;
            letter-spacing: 2px;
            padding-right: 30px;
        }

        .showup {
            color: #333333;
            transition: all 0.5s ease-in-out;
            transform: scale(1.2);
            @include Inter(400, 50px);
            letter-spacing: 2px;
        }
    }
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    margin-bottom: 40px;

    @include respond-to("large") {
        width: 1140px;
        margin: 0 auto;
        position: static;
        padding: 20px 0;
    }

    &__logo {
        @include Inter(600, 16px);

        @include respond-to("large") {
            font-size: 24px;
        }
    }

    &__menu {
        @include Inter(500, 14px);
        text-transform: uppercase;

        @include respond-to("large") {
            display: none;
        }

        img {
            width: 30px;
        }
    }

    &__menu-pc {
        display: none;

        @include respond-to("large") {
            display: flex;
            gap: 20px;

            .menu-link {
                @include Inter(500, 16px);
                text-transform: uppercase;
            }
        }
    }

    .fade-in {
        animation : fadein 0.8s ease-in-out;

        @keyframes fadein {
            0% {
                opacity: 0;
                transform: translateY(40px);
            }
            100% {
                opacity: 1;
                transform: translateY(0px);
            }
        }
    }

    .fade-out {
        animation : fadeout .8s ease-in-out;

        @keyframes fadeout {
            0% {
                opacity: 1;
                transform: translateY(0px);
            }
            100% {
                opacity: 0;
                transform: translateY(40px);
            }
        }
    }
}

.hero {
    padding: 0 20px;
    margin-bottom: 64px;

    @include respond-to("large") {
        padding: 80px 30px 0 30px;
        margin-bottom: 80px;
    }

    &__content {
        
        @include respond-to("large") {
            max-width: 1140px;
            margin: 0 auto;
        }
    }

    &__title {
        @include Inter(400, 24px);
        line-height: 150%;
        width: 85%;
        text-transform: uppercase;
        margin-bottom: 64px;

        @include respond-to("large") {
            font-size: 48px;
            width: 52%;
        }

        &--bold {
            font-weight: 500;
        }

        @include respond-to("large") {
            font-size: 32px;
        }
    }


    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #202020;
        border-radius: 20px;
        width: 180px;
        height: 50px;
        box-shadow: 0 0 6px 0px rgba($color: #000000, $alpha: .8);

        @include respond-to("large") {
            width: 220px;
            height: 60px;
        }
    }

    &__link {
        display: block;     
        @include Inter(300, 14px);
        color: #FEFBF6;
        text-transform: uppercase;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;

        // @include respond-to("large") {
        //     font-size: 18px;
        //     width: 220px;
        //     height: 60px;
        // }

        img {
            width: auto;
        }
    }
}

.section {
    padding: 0 20px;
    margin-bottom: 40px;

    @include respond-to("large") {
        padding: 0;
        max-width: 1140px;
        margin: 0 auto 80px auto;
    }

    &__title {
        @include Inter(500, 28px);
        margin-bottom: 24px;
        text-transform: uppercase;

        @include respond-to("large") {
            font-size: 48px;
            line-height: 120%;
        }
    }

    &__subtitle {
        @include Inter(400, 24px);
        text-transform: uppercase;

        @include respond-to("large") {
            @include Inter(400, 32px);
        }
    }

    &__text {
        @include Noto(400, 16px);
        line-height: 150%;

        &--en {
            @include Inter(400, 14px);
            color: #9e9e9e;
        }
    }
}

.service {

    &__number {
            font-family: "Bebas Neue", serif;
            font-weight: 400;
            font-style: normal;
            font-size: 60px;
            color: #ececec;

            @include respond-to("large") {
                font-size: 100px;
            }
    }

    .flex-wrapper-pc {

        @include respond-to("large") {
            display: flex;
            gap: 40px;

            &:first-child {
                margin-bottom: 40px;
            }
        }
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include respond-to("large") {
            gap: 24px;
        }

        &__title {
            @include Inter(400, 24px);

            @include respond-to("large") {
                font-size: 32px;
            }
        }

        &__text--jp {
            @include Noto(400, 14px);
            line-height: 200%;

            @include respond-to("large") {
                @include Noto(400, 16px);
            }
        }

        &__text--en {
            @include Inter(400, 14px);
            line-height: 200%;

            @include respond-to("large") {
                @include Inter(400, 16px);
            }
        }
    }

    @include respond-to("large") {
        display: flex;
        gap: 80px;
    }
}

.about {
    background-color: #202020;
    padding: 40px 20px;
    border-radius: 20px;
    margin-bottom: 40px;

    @include respond-to("large") {
        width: 100%;
        max-width: none;
        margin-bottom: 120px;
    }

    .flex-wrapper-pc {

        @include respond-to("large") {
            max-width: 1140px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__title {
        margin-bottom: 24px;
        text-transform: uppercase;
        color: #ffffff;

        @include respond-to("large") {
            margin-bottom: 0;
        }
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include respond-to("large") {
            width: 50%;
            gap: 24px;
        }

        &__text--jp {
            @include Noto(300, 14px);
            line-height: 240%;
            color: #ffffff;

            @include respond-to("large") {
                font-size: 16px;
            }
        }

        &__text--en {
            @include Inter(300, 14px);
            color: #ffffff;
            line-height: 220%;
            text-transform: uppercase;

            @include respond-to("large") {
                font-size: 16px;
            }
        }

        &__link {
            @include Inter(400, 14px);
            color: #ffffff;
            text-transform: uppercase;

            @include respond-to("large") {
                font-size: 18px;
            }
        }

        &__email {
            @include Inter(400, 14px);
            color: #ffffff;
            text-transform: uppercase;

            @include respond-to("large") {
                font-size: 18px;
            }
        }
    }
}

.qna {
    padding: 0;
    margin-bottom: 64px;

    &__title {
        padding: 0 20px;

        @include respond-to("large") {
            margin-bottom: 48px;
        }
    }
    
    .accordion {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 0 20px;

        @include respond-to("large") {
            max-width: 1140px;
            margin: 0 auto;
            padding: 0;
        }
    }

    .divider {
        border-top: 1px solid #202020;
        margin-bottom: 16px;

        @include respond-to("large") {
            margin-bottom: 24px;
        }
    }

    .question-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        @include respond-to("large") {
            padding: 0 40px;
        }
    }

    .toggle-button {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 30px;
        }

        .hide {
            display: none;
        }

        &__item {
            width: 30px;
            height: 1px;
            background-color: #202020;
            display: none;
        }

        .show {
            display: block;
        }

        // .vertical {
        //     position: absolute;
        //     top: 0%;
        //     left: 50%;
        //     transform: rotate(90deg);
        // }

        // .horizon {
        //     position: absolute;
        //     top: 50%;
        //     left: 50%;
        //     transform: translate(-50%, -50%);
        // }

    }

    .question {
        @include Noto(300, 14px);

        @include respond-to("large") {
            @include Noto(300, 16px);
        }
    }

    .scale {
        font-size: 12px;
        transition: all 0.5s ease-in-out;
    }

    .answer {
        display: none;
        @include Noto(400, 14px);
        line-height: 180%;
        margin-top: 24px;

        @include respond-to("large") {
            font-size: 16px;
            padding: 0 40px;
        }
    }

    .showText {
        display: block;
        animation: show 0.5s ease-in-out forwards;

        @keyframes show {
            0% {
                opacity: 0;
                transform: translateY(-40px);
            }
            100% {
                opacity: 1;
                transform: translateY(0px);
            }
            
        }
    }
}

.footer {
    background-color: #202020;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    // @include respond-to("large") {
    //     padding: 28px 30px;
    // }

    .footer-menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 64px 20px;
        justify-content: end;

        @include respond-to("large") {
            max-width: 1140px;
            margin: 0 auto;
            padding: 96px 0;
            gap: 32px;
        }

        &__link {
            @include Inter(300, 18px);
            color: #ffffff;
            text-transform: capitalize;
            display: flex;
            align-items: center;
            justify-content: end;

            @include respond-to("large") {
                font-size: 24px;
            }
        }
    }

    &__text {
        font-family: "Bebas Neue", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 19vw;
        color: #ececec;
        text-align: center;
        letter-spacing: 3vw;
        line-height: normal;
    }

    .divider {
        width: 100%;
        height: 1px;
        background-color: #ffffff;
        margin-bottom: 48px;
    }

}

